<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CareClinic Assistant</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-gray-50 justify-center flex ">
  <nav class="bg-[#475569] flex justify-between items-center px-10 py-4 text-white">
    <h1 class="text-2xl font-semibold">CareClinic</h1>

    {% if user.role == 'patient' %}
    <div class="flex items-center gap-10 text-lg">
      <a href="/home" class="flex items-center gap-2 px-4 py-2 rounded-xl">Home</a>
      <a href="/doctors" class="flex items-center gap-2">Doctors</a>
      <a href="/history" class="flex items-center gap-2">History</a>
    </div>
    {% else %}
    <div class="flex items-center gap-10 text-lg">
      <a href="/home" class="flex items-center gap-2 px-4 py-2 rounded-xl">Home</a>
      <a href="/patients" class="flex items-center gap-2">Patients</a>
      <a href="/history" class="flex items-center gap-2">History</a>
    </div>
    {% endif %}

    <div class="flex items-center gap-20 text-lg font-semibold">
      <p class="text-amber-500">{{user.first_name}}</p>
      {% if 'id' in request.session %}
      <a href="/logout" class="hover:underline">Logout</a>
      {% else %}
      <a href="/login" class="hover:underline">Login</a>
      {% endif %}
    </div>
  </nav>


  <div class=" bottom-6 right-6 w-[360px] ">
    <div class="rounded-2xl  border-gray-200 bg-white">

      <div class="bg-gray-600 text-white px-4 py-3 flex items-center justify-between">
        <div class="flex items-center gap-3">

          <div>
            <div class="font-semibold">CareClinic Assistant</div>
            <div class="flex items-center gap-1 text-xs text-white/90">
              <span class=" flex h-2 w-2">
                <span class=" flex h-2 w-2 rounded-full bg-green-400"></span>
              </span>
              Online
            </div>
          </div>
        </div>


      </div>

      <div class="p-4 bg-white">
        <div class="flex items-start gap-3">
          <div class="w-8 h-8 rounded-full bg-blue-600/10  shrink-0">
          </div>
          <div>
            <div class="bg-gray-100 text-gray-900 rounded-2xl rounded-tl-sm px-4 py-3">
              <p>Hello! I'm chatbot</p>
            </div>
            <div class="text-[11px] text-gray-500 mt-1">09:32 PM</div>
          </div>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-200 bg-white px-4 py-3">
      <form class="flex items-center gap-2">
        <input type="text" placeholder="Type your message..."
          class="w-full rounded-full bg-gray-100 px-4 py-2.5 text-sm placeholder-gray-400 outline-none " />
        <button type="submit" class="shrink-0 grid place-items-center w-10 h-10 rounded-full bg-gray-900 ">
        </button>
      </form>
    </div>

  </div>
  </div>

</body>

</html>