<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body class="bg-blue-50">
    <div class="flex w-400 h-130 mx-auto mt-20 bg-gray-300 rounded-[1.3em]">
        <div class="w-200">
            <h1 class="mt-10 ml-6 text-3xl">Welcome to Medical Clinc Application</h1>
            <h2 class="mt-6 ml-6 text-2xl">About Us</h2>
            <p class="mt-3 ml-7 text-[0.9em]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit tempore, consequatur dignissimos aut reiciendis sequi eius necessitatibus nostrum fugiat, inventore itaque velit dolore repudiandae veritatis error ex quos officia animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eos officia in eaque accusantium saepe repudiandae odio deserunt tempora. Labore temporibus, commodi reiciendis pariatur sint voluptates itaque doloribus quaerat tenetur!</p>
            <div class="mt-20 ml-6">
                <h2 class="text-2xl">Contact Us</h2>
                <div class="mt-6 ml-3">
                    <p class="text-[1.2em]">Phone: <span class="text-blue-500">77676765767</span></p>
                    <p class="text-[1.2em]">Email: <span class="text-blue-500">dsfdfdf@fgfg.com</span></p>
                </div>
            </div>
        </div>
        <img class="rounded-r-[1.3em] ml-5" src="./european-luxury-medical-clinic-brand-new-empty-33655077.jpg" alt="">
    </div>
    
</body>
</html>